<ion-header>
  <ion-toolbar>
    <ion-grid class="custom-header">
      <ion-row>
        <ion-col>
          <div style="font-size: 2rem">{{ pigCount | number }} pigs</div>
        </ion-col>
        <ion-col>
          Group: {{ groupId }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{ groupAge }} weeks old</ion-col>
        <ion-col>
          Started: {{ startDate | amDateFormat: 'YYYY/MM/DD' }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="6">
          <ion-button fill="outline" size="large" id="manage-pig-btn" (click)="presentActionSheet()">{{ 'Manage Pigs' | uppercase}}</ion-button>
        </ion-col>
        <ion-col sizeXs="6">
          <ion-button fill="solid" size="large" id="logbook-btn" [routerLink]="['/logbook']">
            {{ 'Logbook' | uppercase}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
