<ion-header>
  <ion-toolbar>
    <ion-grid class="custom-header">
      <ion-row>
        <ion-col>
          <div style="font-size: 2rem">{{ pigCount | number }} pigs</div>
        </ion-col>
        <ion-col>
          Group: {{ groupId }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{ groupAge }} weeks old</ion-col>
        <ion-col>
          Started: {{ startDate | amDateFormat: 'YYYY/MM/DD' }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeXs="6">
          <ion-button fill="outline" size="large" id="manage-pig-btn" (click)="presentActionSheet()">{{ 'Manage Pigs' | uppercase}}</ion-button>
        </ion-col>
        <ion-col sizeXs="6">
          <ion-button fill="solid" size="large" id="logbook-btn" [routerLink]="['/logbook']">
            {{ 'Logbook' | uppercase}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    TEAM ({{ team.length }})
  </div>
  <ion-card *ngIf="!displayAll">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="img-col">
            <ion-avatar>
              <ion-img class="thumbnail-size" [src]="displayMember?.picture.thumbnail"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-row class="name-display">{{ displayMember?.name.first + ' ' + displayMember?.name.last | titlecase }}</ion-row>
            <ion-row class="last-login">last check in: {{ displayMember?.login.last | amTimeAgo }}</ion-row>
          </ion-col>
          <ion-col class="icon-col">
            <ion-buttons>
              <ion-button>
                <i class="material-icons">textsms</i>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col class="icon-col">
            <ion-buttons>
              <ion-button>
                <i class="material-icons">call</i>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-buttons>
        <ion-button class="tgl-btn-position" (click)="toggleMembers()">
          <i class="material-icons">expand_more</i>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="displayAll">
    <ion-card-content>
      <ion-grid *ngFor="let member of team">
        <ion-row>
          <ion-col class="img-col">
            <ion-avatar>
              <ion-img class="thumbnail-size" [src]="member?.picture.thumbnail"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-row class="name-display">{{ member?.name.first + ' ' + member?.name.last | titlecase }}</ion-row>
            <ion-row class="last-login">last check in: {{ member?.login.last | amTimeAgo }}</ion-row>
          </ion-col>
          <ion-col class="icon-col">
            <ion-buttons>
              <ion-button>
                <i class="material-icons">textsms</i>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col class="icon-col">
            <ion-buttons>
              <ion-button>
                <i class="material-icons">call</i>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-buttons>
        <ion-button class="tgl-btn-position" (click)="toggleMembers()">
          <i class="material-icons">expand_more</i>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
