.custom-header {
  height: 176px;
  padding: 20px 25px;
  color: #FFFFFF;
  background-image: linear-gradient(232deg, #4b626e, #263238);
}

.pig-count {
  font-size: 32px;
}

.group-id {
  margin-bottom: 5px;

  span {
    font-weight: bold;
  }
}

.header-btns {
  margin-top: 15px;
}

#manage-pig-btn {
  --color: #FFFFFF;
  --background: rgb(38, 50, 56);
  --border-color: #FFFFFF;
  font-size: 16px;
}

#logbook-btn {
  --color: rgb(38, 50, 56);
  --background: rgb(201, 235, 66);
  font-size: 16px;
}

ion-toolbar ion-button {
  --border-radius: 16px;
  height: 55px;
  width: 180px;
}

.team-card {
  border-radius: 15px;
  margin: 0 16px;
  box-shadow: 0 0 10px 10px rgba(38, 50, 56, 0.1);

  .card-content-md {
    padding-bottom: 0;
  }

  ion-grid {
    height: 70px;
  }
}

.img-col {
  width: 56px;
  flex-grow: 0;

  ion-avatar {
    width: 56px;
  }
}

.name-display {
  color: rgb(38, 50, 56);
  font-size: 16px;
  font-weight: 500;
}

.last-login {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.icon-col {
  flex-grow: 0;
  width: 56px;

  ion-buttons {
    border: 1px solid rgb(38, 50, 56);
    border-radius: 50%;
    height: 41px;
    width: 41px;

    i.material-icons {
      font-size: 20px;
      color: rgb(38, 50, 56);
    }
  }
}

.thumbnail-size {
  height: 41px;
  width: 41px;
}

.tgl-btn-position {
  margin: auto;
}

.alerts-card {
  border-radius: 15px;
  margin: 0 16px;
  box-shadow: 0 0 10px 10px rgba(38, 50, 56, 0.1);

  ion-card-content > div.alert-heading {
    height: 35px;

    i.material-icons {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .alert-title {
    font-size: 16px;
    font-weight: bold;
    color: rgb(38, 50, 56);
  }

  .alert-msg {
    font-size: 16px;
    font-weight: bold;
    color: red;
  }

  .alert-time {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
  }
}

ion-toggle {
  position: relative;
  top: -0.5rem;
}

.dot {
  font-size: 10px;
  position: relative;
  top: 2px;
  right: -5px;
  color: red;
}

.water-icon {
  font-size: 20px;
  position: relative;
  top: 2px;
  color: rgb(38, 50, 56);
}
